# ide specific
.classpath
.project
.settings
*.iml
.idea

# build files
build/
target/
tools/DwerftConfig.properties
dwerft-tools*

# test files
tools/src/test/resources/fuseki
tools/src/test/resources/giles/ale_dummy.xml
tools/src/test/resources/giles/csv_dummy.xml

# log files
tools/log
