<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
  
<web-app>
  
  <display-name>DWERFT web service</display-name>
    
  <servlet>
        <servlet-name>dwerft-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
        	 <param-name>javax.ws.rs.Application</param-name>
             <param-value>de.dwerft.server.app.DwerftApplication</param-value>
        </init-param>
        <init-param>
        	<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
        	<param-value>org.secnod.shiro.ShiroResourceFilterFactory</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>dwerft-serlvet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
    
  <context-param>
   	<param-name>shiroConfigLocations</param-name>
   	<param-value>classpath:shiro.ini</param-value>
  </context-param>

  <listener>
   	<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>

  <filter>
   	<filter-name>ShiroFilter</filter-name>
   	<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
    
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>